@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding-bottom: 60px;
  padding-top: 80px;
  transition: background-color 0.3s;
}

body.dark {
  background-color: #1a202c;
  color: #e2e8f0;
}

@media (min-width: 768px) {
  body {
    padding-bottom: 0;
  }
}

/* Animasi tambahan */
@keyframes slide-in {
  from { transform: translateY(-10px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

nav {
  animation: slide-in 0.4s ease-out;
}